build
bcolz/carray_ext.c
bcolz/*.so
bcolz/version.py
**/*.pyc

*.pyd
bcolz.egg-info/
.eggs

# airspeed velocity
bench_asv/env
bench_asv/bcolz/
bench_asv/results
bench_asv/project

# pycharm
.idea

# bench
*.h5
*.bcolz
myarray
large_carray-bench
