include MANIFEST.in
include *.txt
exclude post-release.txt  releasing.txt
include persistence.rst
include VERSION
include pavement.py
include setup.py

recursive-include carray *.py *.pyx *.pxd *.c
recursive-include blosc *.c *.h
recursive-include blosc/win32 *.c *.h
recursive-include bench *.py *.txt
recursive-include doc *.rst *.txt *.py *.pdf *.html *.css *.png
recursive-exclude doc/_build *
recursive-include LICENSES *
