include MANIFEST.in
include *.txt *.rst
exclude RELEASING.rst
include setup.py

recursive-include bcolz *.py *.pyx *.pxd *.c *.h
recursive-include bcolz/tests *.py
recursive-include c-blosc *.c *.h
recursive-include bench *.py *.txt
recursive-include docs *.rst *.txt *.py *.pdf *.html *.css *.png
recursive-exclude docs/_build *
recursive-include LICENSES *
recursive-include c-blosc/LICENSES *
