name: Build Wheels

on: [ push ]

jobs:
  build_wheels:
    name: Build wheel for cp${{ matrix.python }}-${{ matrix.platform_id }}-${{ matrix.manylinux_image }}
    runs-on: ${{ matrix.os }}
    env:
      CIBW_TEST_REQUIRES: numpy
      CIBW_TEST_COMMAND: python -c "import bcolz; bcolz.test()"
      CIBW_BUILD_VERBOSITY: 1

    strategy:
      # Ensure that a wheel builder finishes even if another fails
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        python: [ 37, 38, 39 ]
        bitness: [ 64 ]
        manylinux_image: [ manylinux2010, manylinux2014 ]
        include:
          - os: macos-latest
            bitness: 64
            platform_id: macosx_x86_64
          #           Run 32 and 64 bit version in parallel for Linux and Windows
          #          - os: windows-latest
          #            bitness: 64
          #            platform_id: win_amd64
          #          - os: windows-latest
          #            bitness: 32
          #            platform_id: win32
          - os: ubuntu-latest
            bitness: 64
            platform_id: manylinux_x86_64
#          - os: ubuntu-latest
#            bitness: 32
#            platform_id: manylinux_i686
        exclude:
#          - os: macos-latest
#            bitness: 32
          #          - os: windows-latest
          #            manylinux_image: manylinux2010
          #          - os: windows-latest
          #            manylinux_image: manylinux2014
          - os: macos-latest
            manylinux_image: manylinux2001
          - os: macos-latest
            manylinux_image: manylinux2010

    steps:
      - name: Checkout bcolz
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2

      - name: check env
        run: pip list

      - name: Build and test wheels
        uses: joerick/cibuildwheel@v1.10.0
        env:
          #          CIBW_ENVIRONMENT: "DISABLE_BLOSC_AVX2=true DISABLE_BCOLZ_AVX2=true"
          CIBW_ENVIRONMENT: "DISABLE_BCOLZ_AVX2=true"
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}

      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          path: wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - name: Build sdist
        run: python setup.py sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [ build_wheels, build_sdist ]
    runs-on: ubuntu-latest
    # upload to PyPI on every push (for now)
    if: github.event_name == 'push'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          #          password: ${{ secrets.PYPI_TOKEN }}
          password: ${{ secrets.TESTPYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/